#titulo{
     color: rgb(50, 140, 123);
}

p.texto {

    color: brown;
}
p.texto-especial{

    color:green;
    
}
div p {
    color:aquamarine;

}
div h2,div h3{
    color:blue;
}


/* esto es un comentario*/

color {
    color: #f00;
}

.color {
    border: 5px black solid;
    }
.color{
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 1cm;

}
#fondo {
    background-color: rgba(255,0,0,);
    /* opacity: 0.3; */
    height: 200px;
     background-image: url(agua.png);
    background-size: 200px 200px;
}
.margen {
    background-color: blueviolet;
    margin:15px;
    padding:30px 15px 5px;
    border: solid 1px black;
    height: 200px;
    width: 50px;
    overflow: scroll;
    outline: 1px solid red;    
}
  
.text {
    font-family: "Roboto", sans-serif;
     text-align: justify;
     text-decoration:overline;
     text-shadow: 3px 5px 5px blue;
}

a:link{
    color:blueviolet;
}
a:visited {
    color:purple;
}
a:hover{
    color:rgb(205, 90, 192)
}
a:active{
    color:red;
}
ul {
    background-color: cyan;
    list-style-type: georgian;
     /* padding-left: 0;*/
     /*list-style-position:inside; */
}


table{
    width:100%;
    border-collapse: collapse;

}
    th, td{
        border:solid 1px #eee;
        padding:5px;
    }
    th{
        background-color: tomato;
        color:white;
        text-align: left;
    }

    tr :hover{
        background-color:#aaa;
        cursor:pointer;
    }
    tr:nth-child(even){
        background-color: aquamarine;
        cursor: pointer;
    }

span{                                                                                                                                                                                                              
    display:block; 
    /*display: none;*/
    /*visibility: hidden;*/
    max-width: 300px;
    background-color: red;
}
.inline{
    display: inline;
}
#position {
    position:sticky;
    left: 20px;
    /*top:25px;*/


}
.left{
    float:left;
    width: 100px;
    height: 200px;
}
.right{
    float: right;
}
.contaneir{
    height: 200px;
}
.column{
    
    margin: 0  ;
    padding: 10px 0;
    width: 33.3%;
}
.center{
    padding: 50px 0;
    text-align:center ;
    width: 200px;
    margin: 0 auto;
    background-color: rgb(33, 39, 66);
}
.inline-block{
    display:inline-block;
    height: 55px;
    background-color: red;
}



    

   

