#titulo{
     color: rgb(50, 140, 123);
}

p.texto {

    color: brown;
}
p.texto-especial{

    color:green;
    
}
div p {
    color:aquamarine;

}
div h2,div h3{
    color:blue;
}


/* esto es un comentario*/

color {
    color: #f00;
}

.color {
    border: 5px black solid;
    }
.color{
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 1cm;

}
#fondo {
    background-color: rgba(255,0,0,);
    /* opacity: 0.3; */
    height: 200px;
     background-image: url(agua.png);
    background-size: 200px 200px;
}
.margen {
    background-color: blueviolet;
    margin:15px;
    padding:30px 15px 5px;
    border: solid 1px black;
}
